# Seleccion de variables

Observamos con anterioridad que la mayoria de las variables categoricas tienen alta cardinialidad.En este notebook queremos trabajar las variables categoricas con ingeneria de variables con el objetivo de sumarlas al dataframe obtenido en el analisis de PCA.

## Import libraries

In [4]:
# Sirve para actualizar el modulo despues de haber cambiado algo en el codigo de los modulos importados
%load_ext autoreload
%autoreload 2

In [5]:
#Importamos las librerias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib.ticker import FormatStrFormatter
from seaborn import violinplot
%matplotlib inline
# Modulo para trabajar con los directorios del proyecto
from src.utils.paths import data_dir

In [6]:
# Modulos propios del proyecto que se encuentran en el directorio src
from src.utils.paths import data_dir
from src.visualization.word_cloud import words_cloud
from src.utils.paths import references_dir

## Set up

In [7]:
# Configuracion de opciones

# Configuramos para que muestre siempre todas las columnas disponibles
pd.options.display.max_columns = None

# Cambio del tama√±o de los plots para seaborn
sns.set(rc={'figure.figsize':(10,5)})

# Definimos el color para los plots
COLOR_VINO_TINTO = "#7C3030"
COLOR__VINO_BLANCO = "#ffffbf"

## Read Data

In [8]:
# Obtenemos la ruta de los csv's que vamos a utilizar
WINES_MERGE_CSV_PATH = data_dir("intermediate", "df_wine_merged.csv")
WINES_PCA_CSV_PATH = data_dir("intermediate", "df_wine_pca.csv")

print(f"{WINES_MERGE_CSV_PATH}")
print(f"{WINES_PCA_CSV_PATH}")

c:\Users\cvigo\data-projects\proyecto-final-vinos\vinos-corderhouse\data\intermediate\df_wine_merged.csv
c:\Users\cvigo\data-projects\proyecto-final-vinos\vinos-corderhouse\data\intermediate\df_wine_pca.csv

In [9]:
# Leemos los csv's y los guardamos en un dataframe
df_wine_completo = pd.read_csv(WINES_MERGE_CSV_PATH)
df_wine_pca = pd.read_csv(WINES_PCA_CSV_PATH)

print(f"{df_wine_completo.shape=}")
print(f"{df_wine_pca.shape=}")

df_wine_completo.shape=(5013, 21)
df_wine_pca.shape=(5013, 6)

# Analisis de cardinalidad de las variables categoricas

In [10]:
df_wine_completo.dtypes

winery                   object
wine                     object
year                      int64
rating                  float64
region                   object
price                   float64
type                     object
body                    float64
fixed_acidity           float64
volatile_acidity        float64
citric_acid             float64
residual_sugar          float64
chlorides               float64
free_sulfur_dioxide     float64
total_sulfur_dioxide    float64
density                 float64
pH                      float64
sulphates               float64
alcohol                 float64
quality                   int64
style                    object
dtype: object

In [11]:
# filtrar los datos de tipo object
df_wine_completo_object = df_wine_completo.select_dtypes(include=['object'])

df_wine_completo_object.head()

,winery,wine,region,type,style
0,Vinedos de Paganos,La Nieta,Rioja,Rioja Red,red
1,Emilio Moro,Malleolus de Valderramiro,Ribera del Duero,Ribera Del Duero Red,red
2,Emilio Moro,Malleolus de Sanchomartin,Ribera del Duero,Ribera Del Duero Red,red
3,Bodegas Mauro,Terreus Paraje de Cueva Baja,Castilla y Leon,Tempranillo,red
4,Vinedos de Paganos,La Nieta,Rioja,Rioja Red,red

In [12]:
cardinalidad = pd.DataFrame({'Cantidad' : df_wine_completo_object.nunique(), 'Porcentaje' : (df_wine_completo_object.nunique()) / (df_wine_completo_object.shape[0]) * (100)})
cardinalidad

        Cantidad  Porcentaje
winery        80    1.595851
wine         204    4.069420
region        22    0.438859
type          15    0.299222
style          2    0.039896

Las variables categoricas `winery`, `wine`, `region` y `type` tiene alta cardinalidad por lo que no es conveniente sumarlas a nuestro algoritmo. Procedemos a trabajar la variable `style`

## Ingenieria de variables categoricas con la variable Style

In [14]:
## Nos quedamos con la variable style 
df_style = df_wine_completo_object[['style']]

df_style.head()

  style
0   red
1   red
2   red
3   red
4   red

In [15]:
# Transfomamos la variable categorica style en una variable nominal
df_style = df_style.replace({'red':'2','white':'1'})
df_style.head()

  style
0     2
1     2
2     2
3     2
4     2

## Merge de los variables que utilizaremos para trabajar los algoritmos

In [16]:
df_merged = pd.merge(df_wine_pca, df_style, left_index=True, right_index=True)
print(f"El shape de df_merged es: {df_merged.shape}")
df_merged.sample(5)

El shape de df_merged es: (5013, 7)

           PC1       PC2       PC5       PC6       PC7 quality style
31   -0.172496  0.479507  0.514109  0.196879  0.061519     low     2
2706 -0.324790 -0.314102  0.257005  0.250933  0.315714    high     1
2299  0.737409  0.164030  0.147526  0.206851  0.037107     low     1
1704 -0.204830 -0.014405  0.268912 -0.028036 -0.080635    high     1
3903 -0.311485 -0.323175  0.002757  0.279620  0.189034    high     1

In [18]:
# Por ultimo guardamos el dataframe mergeado en un archivo csv
WINE_FINAL_CSV_PATH = data_dir("processed", "df_wine_final.csv")
df_merged.to_csv(WINE_FINAL_CSV_PATH, index=False)